body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
}

#quest-image {
    width: 40%;
}

form {
    display: flex;
    justify-content: center;
}

fieldset {
    padding: 10px;
    margin: 20px;
    width: 30%;
    color: black;
    display: flex;
    flex-direction: column;
}