body {
    background-image: URL('/assets/background.png');
    background-size: cover;
    background-repeat: none;
}

main {
    margin-top: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

header {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
}

#profile {
    margin-right: 50px;
    width: 200px;
}

h2 {
    width: 50%
}

img {
    width: 325px;
}