html {
    background-image: URL('/assets/map/background.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #3e64fc;
}

body {
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    align-items: center;
    text-align: center;
}

#profile {
    margin-right: 75px;
}

#quests {
    margin: auto;
    height: 600px;
    width: 600px;
    background-image: URL('/assets/map/map.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    transition: 1s;
}

#quests:hover {
    -webkit-filter: drop-shadow(0px 0px 5px gold);
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
    transition: 1s;
}

.quest {
    margin-top: 100px;
    position: relative;
}

nav a img {
    width: 90px;
    transition: .5s;
}


nav a img:hover {
    transform: rotate(10deg);
    transition: .5s;
}

#boat {
    width: 25%;
    margin-top: 175px;
    margin-left: 20px;
}